@model ASimpleShoppingCart.Models.ProductModel

@{
    ViewBag.Title = "AddCart";
}

<h2>AddCart</h2>

<div>
    <h4>ProductModel</h4>
	<hr />
    
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
